<main id="container-home">
    <section id="texts">
        <h1>Converse</h1>
        <p>A Converse sempre ultrapassou os limites do que um tênis pode fazer. Se você estava arremessando numa quadra de basquete, fazendo manobras de skate ou precisando de um par de tênis para sobreviver ao seu próximo show de rock, a Converse estava lá com você.</p>
    </section>
 
    <section id="grid-images-home">
        <img src="/images/Authentic-Glam-Chuck-70-3.jpg" />
        <img src="/images/converse-dia-muertos-2.jpg" />
        <img src="/images/Run-Star-Hike-2.jpg" />
        <img src="/images/Chuck-70-Embroidered-Lips-3.jpg" />
    </section>
</main>

