<main id="container-home">
    <h1>uma coleção incrivel de sapatos para você</h1>

    <section id="grid-images-home">
        <img src="/images/Authentic-Glam-Chuck-70-3.jpg" />
        <img src="/images/converse-dia-muertos-2.jpg" />
        <img src="/images/Run-Star-Hike-2.jpg" />
        <img src="/images/Chuck-70-Embroidered-Lips-3.jpg" />
    </section>
</main>

