.container-product{
    background-color: orchid;
    padding: 10px;
    border-radius: 5px;
    border: solid black 3px;
}

.container-product img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border: solid black 3px;
}

.container-product h1{
    padding: 6px 0;
    font-size: 1.2em;
}

.container-product button{
    width: 100%;
    border: solid black 3px;
    cursor: pointer;
    display: flex;
}

.container-product button:hover{
    filter: brightness(80%);
}

.container-product button a{
    width: 100%;
    height: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: black;

    font-weight: 600;
    font-size: 1em;
}